<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="GMlogfile"
            xsi:type="File"
            layout="${message}"
            fileName="${basedir}/logs/${longdate:cached=true}.csv"
            archiveFileName="${basedir}/logs/archives/${shortdate}.{#}.csv"
            archiveEvery="Day"
            archiveNumbering="Rolling" />
    <target name="CSlogfile"
            xsi:type="File"
            layout="${longdate},${message}"
            fileName="${basedir}/logs/CS/${longdate:cached=true}.csv"
            archiveFileName="${basedir}/logs/archives/${shortdate}.{#}.csv"
            archiveEvery="Day"
            archiveNumbering="Rolling" />
  </targets>

  <rules>
    <logger name="CommunicationServer.*" minlevel="Info" writeTo="CSlogfile" />
    <logger name="GameMaster.*" minlevel="Info" writeTo="GMlogfile" />
  </rules>
</nlog>